@import "../../../styles/varibles.scss";
@import "../../../styles/mixins/";

.overlay {
  &__title {
    font-size: 36px;
    font-weight: 800;
    color: $primary;
  }
  &__description {
    font-size: 16px;
    font-weight: 700;
    color: $White-ligth;
  }
  &__innerOverlay {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 auto;
    justify-content: center;
    max-width: 440px;
    width: 100%;
    gap: 16px;
    padding-top: 15%;
    padding-bottom: 10%;
  }
  &__form {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 40px;
  }

  &__registration {
    color: $black-dark;
    font-size: 14px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    a {
      color: $primary;
      text-decoration: none;
      font-weight: 600;
      margin-left: 4px;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
