@import "../../../styles/varibles.scss";
@import "../../../styles/mixins/";

.overlay {
  &__innerOverlay {
    max-width: 440px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
  }
  &__title {
    color: $primary;
    font-size: 36px;
    font-weight: 800;
  }
  &__description {
    color: $White-ligth;
    font-size: 16px;
    font-weight: 700;
  }
  &__form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    button {
      margin-top: 20px;
    }
  }
}
