@import "../../../styles/varibles.scss";
@import "../../../styles/mixins/";

.textareaWrapper {
  display: flex;
  flex-direction: column;
  gap: 3px;
  width: fit-content;

  &:last-child {
    margin-bottom: 0;
  }

  &.fullWidth {
    width: 100%;
  }
}

.label {
  font-size: 12px;
  font-weight: 500;
  color: $black-dark;
}

.shadow {
  box-shadow: 0 0 30px rgba(219, 219, 219, 1);
  border-radius: 10px;
}

.textareaContainer {
  position: relative;
  display: flex;
  align-items: center;
}

.leftIcon {
  position: absolute;
  left: 8px;
  top: 4px;
  height: 13px;
  width: 13px;

  img,
  svg {
    width: 100%;
    height: 100%;
  }
}

.textarea {
  padding: 9px 8px;
  height: 54px;
  border: 1px solid $white-ligth;
  border-radius: 6px;
  font-size: 12px;
  background-color: $White;
  transition: all 0.2s ease;
  outline: none;
  color: $black-dark;
  width: 100%;

  &.withLeftIcon {
    padding-left: 21px;
  }

  &:focus {
    box-shadow: 0 0 0 2px rgba($primary, 0.1);
  }

  &::placeholder {
    color: $White-ligth;
  }

  &::-webkit-textarea-placeholder {
    color: $White-ligth;
  }

  &:-ms-textarea-placeholder {
    color: $White-ligth;
  }

  &::-ms-textarea-placeholder {
    color: $White-ligth;
  }

  &.error {
    border-color: $danger;

    &:focus {
      box-shadow: 0 0 0 2px rgba($danger, 0.1);
    }
  }
}

.errorMessage {
  font-size: 6px;
  color: $danger;
  margin-top: 2px;
}

@include respond-above(xs) {
  .textareaWrapper {
    gap: 3px;
  }

  .label {
    font-size: 12px;
  }

  .leftIcon {
    left: 10px;
    top: auto;
    height: 16px;
    width: 16px;
  }

  .textarea {
    padding: 9px 9px;
    height: 54px;
    font-size: 12px;

    &.withLeftIcon {
      padding-left: 30px;
    }
  }

  .errorMessage {
    font-size: 12px;
  }
}

@include respond-above(sm) {
  .textareaWrapper {
    gap: 5px;
  }

  .label {
    font-size: 14px;
  }

  .leftIcon {
    left: 15px;
    top: auto;
    height: 18px;
    width: 18px;
  }

  .textarea {
    padding: 13.5px 12px;
    height: 81px;
    font-size: 14px;

    &.withLeftIcon {
      padding-left: 40px;
    }
  }

  .errorMessage {
    font-size: 12px;
  }
}

@include respond-above(xlg) {
  .textareaWrapper {
    gap: 6px;
  }

  .label {
    font-size: 16px;
  }

  .leftIcon {
    left: 17px;

    height: 20px;
    width: 20px;
  }

  .textarea {
    padding: 15px 13px;
    height: 90px;
    border-radius: 7px;
    font-size: 16px;

    &.withLeftIcon {
      padding-left: 44px;
    }
  }

  .errorMessage {
    font-size: 13px;
  }
}

@include respond-above(fhd) {
  .textareaWrapper {
    gap: 7px;
  }

  .label {
    font-size: 18px;
  }

  .leftIcon {
    left: 20px;

    height: 23px;
    width: 23px;
  }

  .textarea {
    padding: 18px 16px;
    height: 108px;
    border-radius: 8px;
    font-size: 18px;

    &.withLeftIcon {
      padding-left: 52px;
    }
  }

  .errorMessage {
    font-size: 16px;
  }
}

@include respond-above(fhd-plus) {
  .textareaWrapper {
    gap: 8px;
  }

  .label {
    font-size: 23px;
  }

  .leftIcon {
    left: 24px;

    height: 29px;
    width: 29px;
  }

  .textarea {
    padding: 22.5px 19px;
    height: 135px;
    border-radius: 10px;
    font-size: 23px;

    &.withLeftIcon {
      padding-left: 65px;
    }
  }

  .errorMessage {
    font-size: 20px;
  }
}

@include respond-above(qhd) {
  .textareaWrapper {
    gap: 9px;
  }

  .label {
    font-size: 25px;
  }

  .leftIcon {
    left: 27px;

    height: 32px;
    width: 32px;
  }

  .textarea {
    padding: 24px 21px;
    height: 144px;
    border-radius: 11px;
    font-size: 25px;

    &.withLeftIcon {
      padding-left: 71px;
    }
  }

  .errorMessage {
    font-size: 21px;
  }
}

@include respond-above(uhd) {
  .textareaWrapper {
    gap: 12px;
  }

  .label {
    font-size: 33px;
  }

  .leftIcon {
    left: 35px;

    height: 42px;
    width: 42px;
  }

  .textarea {
    padding: 31.5px 29px;
    height: 189px;
    border-radius: 14px;
    font-size: 33px;
    min-width: 280px;

    &.withLeftIcon {
      padding-left: 94px;
    }
  }

  .errorMessage {
    font-size: 28px;
  }
}
