@import "../../../styles//varibles";
@import "../../../styles/mixins/";

.schedule {
  &__table {
    display: flex;
    flex-direction: column;
  }

  &__container {
    margin-left: auto;
    margin-right: auto;
  }

  &__content {
    box-shadow: 0 0 30px rgba(219, 219, 219, 1);
    padding: 40px;
    border-radius: 10px;
    margin: 40px 0;
  }

  &__title {
    margin-bottom: 40px;
    h3 {
      font-size: 24px;
      font-weight: 800;
      line-height: 100%;
    }
  }

  &__header {
    font-size: 16px;
    font-weight: 600;
  }

  &__table {
    padding-top: 20px;
  }

  &__row {
    display: flex;
    align-items: flex-start;
    border-bottom: 1px solid $white-ligth;
    padding: 20px 0px;
  }

  &__cell {
    text-align: left;
    font-size: 14px;
    &:nth-child(1) {
      width: 230px;
    }
    &:nth-child(2) {
      width: 150px;
    }
    &:nth-child(3) {
      width: 180px;
    }
    &:nth-child(4) {
      width: 220px;
      text-decoration: underline;
      text-decoration-color: $primary;
    }
    &:nth-child(5) {
      width: 220px;
      text-decoration: underline;
      text-decoration-color: $primary;
    }
  }

  &__group,
  &__time,
  &__teacher,
  &__link {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__empty {
    width: 100%;
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 40px;
    line-height: 100%;
    color: $black;
  }
}
