@import "../../styles/varibles";
@import "../../styles/mixins/";

.signup {
  margin-bottom: 16px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  &__container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 0 30px rgba(219, 219, 219, 1);
    border-radius: 6px;
    overflow: hidden;
    padding: 20px;
  }

  &__info {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;

    button {
      width: auto;
      height: fit-content;
      display: flex;
      justify-content: flex-start;
      align-content: flex-start;
      align-items: flex-start;
      background: $primary-button;
      border-radius: 6px;
      transition: all 0.3s ease-in-out;
      cursor: pointer;
      padding: 8px 16px;
      margin-top: 16px;

      &:hover {
        background: $primary;
      }

      span {
        font-size: 12px;
        line-height: 100%;
        color: $White;
      }
    }
  }

  &__title {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 20px;

    h3 {
      width: 100%;
      font-weight: bold;
      font-size: 18px;
      line-height: 100%;
      color: $black;
    }
  }

  &__description {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    p {
      width: 100%;
      font-size: 12px;
      line-height: 140%;
      color: $placeholder;
    }
  }

  &__form {
    width: 40%;
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 16px;

    input {
      box-shadow: 0 0 30px rgba(219, 219, 219, 1);
    }

    label {
      color: $black;
    }
  }
}

@include respond-above(xs) {
  .signup {
    margin-bottom: 18px;

    &__container {
      height: fit-content;
      padding: 22px;
      border-radius: 7px;
    }

    &__info {
      button {
        margin-top: 18px;
        padding: 9px 18px;
        border-radius: 7px;

        span {
          font-size: 13px;
        }
      }
    }

    &__title {
      margin-bottom: 22px;

      h3 {
        font-size: 20px;
      }
    }

    &__description {
      p {
        font-size: 13px;
      }
    }

    &__form {
      height: 200px;
      align-content: flex-end;
    }

    &__wrapper {
      margin-bottom: 18px;
    }
  }
}

@include respond-above(sm) {
  .signup {
    margin-bottom: 22px;

    &__container {
      padding: 26px;
      border-radius: 8px;
    }

    &__info {
      button {
        margin-top: 22px;
        padding: 10px 22px;
        border-radius: 8px;

        span {
          font-size: 15px;
        }
      }
    }

    &__title {
      margin-bottom: 26px;

      h3 {
        font-size: 24px;
        width: 50%;
      }
    }

    &__description {
      p {
        width: 60%;
        font-size: 15px;
      }
    }

    &__form {
      height: 220px;
    }

    &__wrapper {
      margin-bottom: 22px;
    }
  }
}

@include respond-above(md) {
  .signup {
    margin-bottom: 28px;

    &__container {
      padding: 34px;
      border-radius: 9px;
    }

    &__info {
      button {
        margin-top: 28px;
        padding: 12px 26px;
        border-radius: 9px;

        span {
          font-size: 17px;
        }
      }
    }

    &__title {
      margin-bottom: 34px;

      h3 {
        font-size: 30px;
      }
    }

    &__description {
      p {
        font-size: 17px;
      }
    }

    &__form {
      height: 240px;
    }

    &__wrapper {
      margin-bottom: 28px;
    }
  }
}

@include respond-above(lg) {
  .signup {
    margin-bottom: 32px;

    &__container {
      padding: 38px;
      border-radius: 10px;
    }

    &__info {
      button {
        margin-top: 32px;
        padding: 13px 28px;
        border-radius: 10px;

        span {
          font-size: 18px;
        }
      }
    }

    &__title {
      margin-bottom: 38px;

      h3 {
        font-size: 34px;
      }
    }

    &__description {
      p {
        font-size: 19px;
      }
    }

    &__form {
      height: 260px;
    }

    &__wrapper {
      margin-bottom: 32px;
    }
  }
}

@include respond-above(mac) {
  .signup {
    margin-bottom: 40px;

    &__container {
      padding: 50px;
      border-radius: 12px;
    }

    &__info {
      button {
        margin-top: 40px;
        padding: 16px 35px;
        border-radius: 12px;

        span {
          font-size: 20px;
        }
      }
    }

    &__title {
      margin-bottom: 50px;

      h3 {
        font-size: 42px;
      }
    }

    &__description {
      p {
        font-size: 22px;
      }
    }

    &__form {
      height: 300px;
    }

    &__wrapper {
      margin-bottom: 40px;
    }
  }
}

@include respond-above(xlg) {
  .signup {
    margin-bottom: 44px;

    &__container {
      padding: 56px;
      border-radius: 13px;
    }

    &__info {
      button {
        margin-top: 44px;
        padding: 17px 38px;
        border-radius: 13px;

        span {
          font-size: 22px;
        }
      }
    }

    &__title {
      margin-bottom: 56px;

      h3 {
        font-size: 48px;
      }
    }

    &__description {
      p {
        font-size: 25px;
      }
    }

    &__form {
      height: 330px;
    }

    &__wrapper {
      margin-bottom: 44px;
    }
  }
}

@include respond-above(fhd) {
  .signup {
    margin-bottom: 53px;

    &__container {
      padding: 67px;
      border-radius: 15px;
    }

    &__info {
      button {
        margin-top: 53px;
        padding: 20px 45px;
        border-radius: 15px;

        span {
          font-size: 26px;
        }
      }
    }

    &__title {
      margin-bottom: 67px;

      h3 {
        font-size: 58px;
      }
    }

    &__description {
      p {
        font-size: 30px;
      }
    }

    &__form {
      height: 380px;
    }

    &__wrapper {
      margin-bottom: 53px;
    }
  }
}

@include respond-above(fhd-plus) {
  .signup {
    margin-bottom: 62px;

    &__container {
      border-radius: 18px;
      padding: 70px;
    }

    &__info {
      button {
        margin-top: 62px;
        border-radius: 18px;
        padding: 22px 50px;

        span {
          font-size: 30px;
        }
      }
    }

    &__title {
      margin-bottom: 70px;

      h3 {
        font-size: 65px;
      }
    }

    &__description {
      p {
        font-size: 34px;
      }
    }

    &__form {
      height: 420px;
    }

    &__wrapper {
      margin-bottom: 62px;
    }
  }
}

@include respond-above(qhd) {
  .signup {
    margin-bottom: 71px;

    &__container {
      padding: 78px;
      border-radius: 20px;
    }

    &__info {
      button {
        margin-top: 71px;
        padding: 25px 56px;
        border-radius: 20px;

        span {
          font-size: 34px;
        }
      }
    }

    &__title {
      margin-bottom: 78px;

      h3 {
        font-size: 74px;
      }
    }

    &__description {
      p {
        font-size: 38px;
      }
    }

    &__form {
      height: 480px;
    }

    &__wrapper {
      margin-bottom: 71px;
    }
  }
}

@include respond-above(uhd) {
  .signup {
    margin-bottom: 94px;

    &__container {
      border-radius: 30px;
      padding: 118px;
    }

    &__info {
      button {
        margin-top: 94px;
        border-radius: 30px;
        padding: 38px 85px;

        span {
          font-size: 52px;
        }
      }
    }

    &__title {
      margin-bottom: 118px;

      h3 {
        font-size: 112px;
      }
    }

    &__description {
      p {
        font-size: 58px;
      }
    }

    &__form {
      height: 720px;
    }

    &__wrapper {
      margin-bottom: 94px;
    }
  }
}
