// Basic colors
$bg-ligth: #fafbfa;
$bg-colors: #000000;
$black-dark: #0e1726;
$success: #00ab55;
$danger: #e7515a;
$secondary: #805dca;
$warning: #e2a03f;
$info: #2196f3;
$dark: #3b3f5c;
$primary: #8399FF;
$placeholder: #6b7280;
$black-ligth: #e3e4eb;
$white-ligth-dark: #e0e6ed;
$white-ligth:"#E0E6ED";
$success-ligth: #ddf5f0;
$danger-ligth: #fff5f5;
$white-dark: "#ffffff";
$steel-blue: "#506690";
$secondary-ligth: #ebe4f7;
$warning-ligth: #fff9ed;
$info-ligth: #e7f7ff;
$dark-ligth: #eaeaec;
$primary-ligth: #eaf1ff;
$White-ligth-dark: #888ea8;
$border-dark: #1b2e4b;
$bg-dark:"#060818";

// Container
$container: 20px;
$containerXS: 21px;
$containerSM: 23px;
$containerMD: 25px;
$containerLG: 27px;
$containerMAC: 50px;
$containerXLG: 50px;
$containerFHD: 50px;
$containerQHD: 50px;

// Named colors
$defaultTextColor: $black;
$highlightTextColor: $black;
$selectionTextColor: $black;
$defaultLinkColor: $black;
$activeLinkColor: $black;
$backgroundColor: $white;
