// Basic colors
$bg-ligth: #fafbfa;
$bg-colors: #000000;
$black-dark: #0e1726;
$success: #00ab55;
$danger: #e7515a;
$secondary: #805dca;
$warning: #e2a03f;
$info: #2196f3;
$dark: #3b3f5c;
$primary: #8399ff;
$placeholder: #6b7280;
$black-ligth: #e3e4eb;
$white-ligth: #e0e6ed;
$white-dark: #1b2e4b;
$success-ligth: #ddf5f0;
$danger-ligth: #fff5f5;
$White: #ffffff;
$steel-blue: #506690;
$secondary-ligth: #ebe4f7;
$warning-ligth: #fff9ed;
$info-ligth: #e7f7ff;
$dark-ligth: #eaeaec;
$primary-ligth: #eaf1ff;
$White-ligth: #888ea8;
$bg-gradient: conic-gradient(
  from 180deg at 50% 50%,
  rgb(231, 203, 234) 0%,
  rgb(183, 182, 226) 25%,
  rgb(197, 196, 255) 45%,
  rgb(197, 196, 255) 55%,
  rgb(251, 218, 244) 65%,
  rgb(243, 198, 223) 80%,
  rgb(231, 203, 234) 100%
);

// Container
$container: 20px;
$containerXS: 21px;
$containerSM: 23px;
$containerMD: 25px;
$containerLG: 27px;
$containerMAC: 50px;
$containerXLG: 50px;
$containerFHD: 50px;
$containerQHD: 50px;

// // Named colors
// $defaultTextColor: $black;
// $highlightTextColor: $black;
// $selectionTextColor: $black;
// $defaultLinkColor: $black;
// $activeLinkColor: $black;
// $backgroundColor: $white;
