// Basic colors
$white: #ffffff;
$black: #000000;

// Container
$container: 20px;
$containerXS: 21px;
$containerSM: 23px;
$containerMD: 25px;
$containerLG: 27px;
$containerMAC: 50px;
$containerXLG: 50px;
$containerFHD: 50px;
$containerQHD: 50px;

// Named colors
$defaultTextColor: $black;
$highlightTextColor: $black;
$selectionTextColor: $black;
$defaultLinkColor: $black;
$activeLinkColor: $black;
$backgroundColor: $white;
