@import "varibles";
@import "mixins";
@import "default";

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --primary: #{$primary};
  --black-dark: #{$black-dark};
  --datepicker-icon-filter: invert(0);
  --White-ligth: #{$White-ligth};
  --white-ligth: #{$white-ligth};
  --white-dark: #{$white-dark};
  --black-ligth: #{$black-ligth};
  --success: #{$success};
  --danger: #{$danger};
  --secondary: #{$secondary};
  --warning: #{$warning};
  --White: #{$White};
}

[data-theme="dark"] {
  --datepicker-icon-filter: invert(1);
}

html {
  --header-height: 32px;
  --header-offset: 40px;
  --header-compensation: -32px;
  --container-offset: #{$container};
  --app-height: 100vh;
  --app-height: -webkit-fill-available;
  --section-height: calc(100vh - 32px);
  background-color: var(--bg);

  @include respond-above(md) {
    --header-height: 41px;
    --header-offset: 41px;
    --header-compensation: -41px;
    --section-height: calc(100vh - 41px);
    --container-offset: #{$containerMD};
  }

  @include respond-above(lg) {
    --header-height: 50px;
    --header-offset: 50px;
    --header-compensation: -50px;
    --section-height: calc(100vh - 50px);
  }

  @include respond-above(mac) {
    --header-height: 60px;
    --header-offset: 60px;
    --header-compensation: -60px;
    --container-offset: #{$containerMAC};
    --app-height: 100dvh;
    --section-height: calc(100vh - 60px);
  }

  @include respond-above(xlg) {
    --header-height: 67px;
    --header-offset: 67px;
    --header-compensation: -67px;
    --section-height: calc(100vh - 67px);
    --container-offset: #{$containerXLG};
  }

  @include respond-above(fhd) {
    --header-height: 80px;
    --header-offset: 80px;
    --header-compensation: -80px;
    --section-height: calc(100vh - 80px);
    --container-offset: #{$containerFHD};
  }

  @include respond-above(fhd-plus) {
    --header-height: 84px;
    --header-offset: 84px;
    --header-compensation: -84px;
    --container-offset: #{$containerFHD};
    --section-height: calc(100vh - 84px);
  }

  @include respond-above(qhd) {
    --header-height: 93px;
    --header-offset: 93px;
    --header-compensation: -93px;
    --container-offset: #{$containerQHD};
    --section-height: calc(100vh - 93px);
  }

  @include respond-above(uhd) {
    --header-height: 141px;
    --header-offset: 141px;
    --header-compensation: -141px;
    --section-height: calc(100vh - 141px);
  }
}

section {
  max-width: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding-bottom: 40px;

  @include respond-above(md) {
    padding-bottom: 68px;
  }
  @include respond-above(lg) {
    padding-bottom: 83px;
  }
  @include respond-above(mac) {
    padding-bottom: 100px;
  }
  @include respond-above(xlg) {
    padding-bottom: 111px;
  }
  @include respond-above(fhd) {
    padding-bottom: 133px;
  }
  @include respond-above(fhd-plus) {
    padding-bottom: 140px;
  }
  @include respond-above(qhd) {
    padding-bottom: 155px;
  }
  @include respond-above(uhd) {
    padding-bottom: 235px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}

body {
  font-family: var(--font-nunito-sans), sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  // background: var(--bg);
  background: $White;
  color: var(--text);
  position: relative;

  &::-webkit-scrollbar {
    width: 0 !important;
    height: 0 !important;
    background: transparent !important;
    display: none;
  }

  &::-webkit-scrollbar-thumb {
    width: 0 !important;
    height: 0 !important;
    background: transparent !important;
  }
}

main {
  // max-width: 750px;
  position: relative;
  display: flex !important;
  flex-direction: column;
  flex: 1 0 auto;
  z-index: 1;
  pointer-events: auto;
  padding-top: var(--header-height);
  margin: 0 auto;

  @include respond-above(md) {
    padding-left: 0;
    padding-right: 0;
  }

  @include respond-above(lg) {
    padding-left: 0;
    padding-right: 0;
  }
}

.App {
  min-height: 89vh;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  line-height: 100%;
  padding: 0;
  margin: 0;
}

::selection {
  // color: $selectionTextColor;
  text-shadow: none;
}

.no-pointer {
  pointer-events: none;
}

.no-scroll {
  overflow: hidden;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

.container {
  padding: 0 20px;

  @include respond-above(md) {
    padding: 0 34px;
  }

  @include respond-above(lg) {
    padding: 0 42px;
  }

  @include respond-above(mac) {
    padding: 0 50px;
  }

  @include respond-above(xlg) {
    padding: 0;
    max-width: 1440px;
  }

  @include respond-above(fhd) {
    max-width: 1600px;
  }

  @include respond-above(fhd-plus) {
    max-width: 1920px;
  }

  @include respond-above(qhd) {
    max-width: 2340px;
  }

  @include respond-above(uhd) {
    max-width: 3000px;
  }
}
