@import "varibles";
@import "mixins";
@import "default";

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --primary: #{$primary};
  --black-dark: #{$black-dark};
  --datepicker-icon-filter: invert(0);
  --White-ligth: #{$White-ligth};
  --white-ligth: #{$white-ligth};
  --white-dark: #{$white-dark};
  --black-ligth: #{$black-ligth};
  --success: #{$success};
  --danger: #{$danger};
  --secondary: #{$secondary};
  --warning: #{$warning};
  --White: #{$White};
}

[data-theme='dark'] {

  --datepicker-icon-filter: invert(1);
}

html {
  --header-height: 60px;
  --header-offset: 40px;
  --header-compensation: -40px;
  --container-offset: #{$container};
  --app-height: 100vh;
  --app-height: -webkit-fill-available;
  --section-height: calc(100vh - 40px);
  background-color: var(--bg);

  @include respond-above(md) {
    --container-offset: #{$containerMD};
  }

  @include respond-above(mac) {
    --header-height: 80px;
    --header-offset: 80px;
    --header-compensation: -60px;
    --container-offset: #{$containerMAC};
    --app-height: 100dvh;
    --section-height: calc(100vh - 80px);
  }

  @include respond-above(xlg) {
    --header-height: 63.6px;
    --header-offset: 63.6px;
    --header-compensation: -63.6px;
    --section-height: calc(100vh - 63.6px);
    --container-offset: #{$containerXLG};
  }

  @include respond-above(xlg) {
    --header-height: 63.6px;
    --header-offset: 63.6px;
    --header-compensation: -63.6px;
    --section-height: calc(100vh - 63.6px);
    --container-offset: #{$containerXLG};
  }

  @include respond-above(fhd) {
    --header-height: 67.2px;
    --header-offset: 67.2px;
    --header-compensation: -67.2px;
    --section-height: calc(100vh - 67.2px);
    --container-offset: #{$containerFHD};
  }

  @include respond-above(fhd-plus) {
    --header-height: 72px;
    --header-offset: 72px;
    --header-compensation: -72px;
    --container-offset: #{$containerFHD};
    --section-height: calc(100vh - 72px);
  }

  @include respond-above(qhd) {
    --header-height: 78px;
    --header-offset: 78px;
    --header-compensation: -78px;
    --container-offset: #{$containerQHD};
    --section-height: calc(100vh - 78px);
  }
}

.typingBureau {
  display: none;
}

.textTypingVisible {
  width: 100%;
  margin: 0 auto;
}

@include respond-above(md) {
  .typingBureau {
    display: flex;
  }

  .projectsPageTyping {
    display: none;
  }
}

section {
  max-width: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-bottom: 100px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}

body {
  font-family: var(--font-nunito-sans), sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  // background: var(--bg);
  background: $White;
  color: var(--text);
  position: relative;

  &::-webkit-scrollbar {
    width: 0 !important;
    height: 0 !important;
    background: transparent !important;
    display: none;
  }

  &::-webkit-scrollbar-thumb {
    width: 0 !important;
    height: 0 !important;
    background: transparent !important;
  }
}

main {
  // max-width: 750px;
  position: relative;
  display: flex !important;
  flex-direction: column;
  flex: 1 0 auto;
  z-index: 1;
  pointer-events: auto;
  padding-top: 40px;
  padding: 40px 20px 0;
  margin: 0 auto;

  @include respond-above(md) {
    padding: 0;
  }

  @include respond-above(lg) {
    padding: 0;
    // padding-top: 40px;
    // max-width: 750px;
  }
}

.App {
  min-height: 89vh;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: $primary;
  line-height: 100%;
  padding: 0;
  margin: 0;
}

::selection {
  // color: $selectionTextColor;
  text-shadow: none;
}

.no-pointer {
  pointer-events: none;
}

.no-scroll {
  overflow: hidden;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

.container {
  padding: 0 20px;

  @include respond-above(md) {
    padding: 0 34px;
  }
  
  @include respond-above(lg) {
    padding: 0 42px;
  }

  @include respond-above(mac) {
    padding: 0 50px;
  }

  @include respond-above(xlg) {
    padding: 0;
    max-width: 1440px;
  }

  @include respond-above(fhd) {
    max-width: 1600px;
  }

  @include respond-above(fhd-plus) {
    max-width: 1920px;
  }

  @include respond-above(qhd) {
    max-width: 2340px;
  }

  @include respond-above(uhd) {
    max-width: 3000px;
  }
}