@import "../../styles/varibles";
@import "../../styles/mixins/";

.info {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-bottom: 20px;

  &_isPagination {
    margin-bottom: 0 !important;
  }

  &__title {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-bottom: 10px;

    h3 {
      font-weight: bold;
      font-size: 18px;
      line-height: 100%;
      color: $black;
    }
  }

  &__details {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }

  &__description {
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    p {
      font-size: 9px;
      line-height: 140%;
      color: $placeholder;
    }
  }

  &__allSee {
    width: auto;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    a {
      font-weight: bold;
      font-size: 8px;
      line-height: 100%;
      color: $black;
      transition: all 0.3s ease-in-out;

      &:hover {
        color: $placeholder;

        &::after {
          transform: translateX(2px);
        }
      }

      &::after {
        content: ">";
        margin-left: 2px;
        display: inline-block;
        transition: transform 0.3s ease-in-out;
      }
    }
  }
}

@include respond-above(xs) {
  .info {
    margin-bottom: 24px;

    &__title {
      margin-bottom: 12px;

      h3 {
        font-size: 22px;
      }
    }

    &__description {
      width: 40%;
      p {
        font-size: 11px;
      }
    }

    &__allSee {
      a {
        font-size: 10px;

        &:hover {
          &::after {
            transform: translateX(2px);
          }
        }

        &::after {
          margin-left: 2px;
        }
      }
    }
  }
}

@include respond-above(sm) {
  .info {
    margin-bottom: 30px;

    &__title {
      margin-bottom: 15px;

      h3 {
        font-size: 27px;
      }
    }

    &__description {
      width: 30%;

      p {
        font-size: 13px;
      }
    }

    &__allSee {
      a {
        font-size: 12px;

        &:hover {
          &::after {
            transform: translateX(3px);
          }
        }

        &::after {
          margin-left: 3px;
        }
      }
    }
  }
}

@include respond-above(xlg) {
  .info {
    margin-bottom: 34px;

    &__title {
      margin-bottom: 17px;

      h3 {
        font-size: 31px;
      }
    }

    &__description {
      width: 35%;

      p {
        font-size: 15px;
      }
    }

    &__allSee {
      a {
        font-size: 14px;

        &:hover {
          &::after {
            transform: translateX(4px);
          }
        }

        &::after {
          margin-left: 4px;
        }
      }
    }
  }
}

@include respond-above(fhd) {
  .info {
    margin-bottom: 40px;

    &__title {
      margin-bottom: 20px;

      h3 {
        font-size: 36px;
      }
    }

    &__description {
      p {
        font-size: 18px;
      }
    }

    &__allSee {
      a {
        font-size: 16px;

        &:hover {
          &::after {
            transform: translateX(5px);
          }
        }

        &::after {
          margin-left: 5px;
        }
      }
    }
  }
}

@include respond-above(fhd-plus) {
  .info {
    margin-bottom: 50px;

    &__title {
      margin-bottom: 25px;

      h3 {
        font-size: 45px;
      }
    }

    &__description {
      p {
        font-size: 22px;
      }
    }

    &__allSee {
      a {
        font-size: 20px;

        &:hover {
          &::after {
            transform: translateX(6px);
          }
        }

        &::after {
          margin-left: 6px;
        }
      }
    }
  }
}

@include respond-above(qhd) {
  .info {
    margin-bottom: 55px;

    &__title {
      margin-bottom: 27px;

      h3 {
        font-size: 50px;
      }
    }

    &__description {
      p {
        font-size: 25px;
      }
    }

    &__allSee {
      a {
        font-size: 22px;

        &:hover {
          &::after {
            transform: translateX(7px);
          }
        }

        &::after {
          margin-left: 7px;
        }
      }
    }
  }
}

@include respond-above(uhd) {
  .info {
    margin-bottom: 75px;

    &__title {
      margin-bottom: 37px;

      h3 {
        font-size: 68px;
      }
    }

    &__description {
      p {
        font-size: 34px;
      }
    }

    &__allSee {
      a {
        font-size: 30px;

        &:hover {
          &::after {
            transform: translateX(10px);
          }
        }

        &::after {
          margin-left: 10px;
        }
      }
    }
  }
}
