@import "../../styles/varibles";
@import "../../styles/mixins/";

.header {
  width: 100%;
  height: 60px;
  position: fixed;
  top: 0;
  background: $primary;
  z-index: 99999;

  &__container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 $containerMAC;
  }

  &__logo {
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      width: 36px;
      height: 36px;
      border-radius: 50%;
    }
  }

  &__menu {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    ul {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      li {
        font-size: 18px;
        line-height: 100%;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        margin-right: 15px;

        a {
          transition: all 0.3s ease-in-out;
          color: $White;

          &:hover {
            color: $dark;
          }
        }

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }

  &__profile {
    width: 36px;
    height: 36px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background: $White;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    padding: 9px;
    z-index: 9;

    &:hover {
      background: $White;
    }

    svg {
      width: auto;
      height: auto;
    }
  }
}
