@import "../../styles/varibles";
@import "../../styles/mixins/";

.header {
  width: 100%;
  height: var(--header-height);
  padding: 0 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  background: $primary;
  z-index: 99999;

  &__container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    padding: 0 4px;
  }

  &__logo {
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      width: 18px;
      height: 18px;
      border-radius: 50%;
    }
  }

  &__menu {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    ul {
      display: flex;
      align-items: center;
      top: 38px;
      background: $primary;
      padding: 8px 0;

      li {
        font-size: 11px;
        margin: 0 0 0 12px;
        line-height: 100%;
        cursor: pointer;
        transition: all 0.3s ease-in-out;

        a {
          transition: all 0.3s ease-in-out;
          color: $White;

          &:hover {
            color: $steel-blue;
          }
        }

        &:last-child {
          margin-right: 0;
          margin-bottom: 0;
        }
      }
    }
  }

  &__profile {
    width: 18px;
    height: 18px;
    padding: 4px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background: $White;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

    z-index: 9;

    &:hover {
      background: $white-ligth;
    }

    svg {
      width: auto;
      height: auto;
    }
  }

  &__login {
    width: auto;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    a {
      font-size: 18px;
      line-height: 100%;
      color: $White;
      transition: all 0.3s ease-in-out;
      cursor: pointer;

      &:hover {
        color: $steel-blue;
      }
    }
  }
}

@include respond-below(sm) {
  .header {


    padding: 0 8px;

    &__container {
      flex-direction: row;
      padding: 0 4px;
    }

    &__logo {
      svg {
        width: 22px;
        height: 22px;
      }
    }

    &__menu {
      ul {
        align-items: center;
        top: 38px;
        left: 0;
        background: $primary;
        padding: 8px 0;

        li {
          font-size: 11px;
          margin: 0 0 0 12px;

          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }

    &__profile {
      width: 20px;
      height: 20px;
      padding: 4px;
    }

    &__login {
      a {
        font-size: 11px;
        padding: 2px 6px;
      }
    }
  }
}

@include respond-below(sm) {
  .header {


    &__logo {
      svg {
        width: 18px;
        height: 18px;
      }
    }

    &__profile {
      width: 16px;
      height: 16px;
      padding: 2px;
    }
  }
}

@include respond-above(md) {
  .header {
    width: 100%;


    position: fixed;
    top: 0;
    background: $primary;
    z-index: 99999;

    &__container {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &__logo {
      width: auto;
      height: auto;
      display: flex;
      align-items: center;
      justify-content: center;

      svg {
        width: 24px;
        height: 24px;
        border-radius: 50%;
      }
    }

    &__menu {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      ul {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        li {
          font-size: 12px;
          line-height: 100%;
          cursor: pointer;
          transition: all 0.3s ease-in-out;
          margin-right: 10px;

          a {
            transition: all 0.3s ease-in-out;
            color: $White;

            &:hover {
              color: $steel-blue;
            }
          }

          &:last-child {
            margin-right: 0;
          }
        }
      }
    }

    &__profile {
      width: 24px;
      height: 24px;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      background: $White;
      border-radius: 50%;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
      padding: 6px;
      z-index: 9;

      &:hover {
        background: $white-ligth;
      }

      svg {
        width: auto;
        height: auto;
      }
    }

    &__login {
      width: auto;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      a {
        font-size: 12px;
        line-height: 100%;
        color: $White;
        transition: all 0.3s ease-in-out;
        cursor: pointer;

        &:hover {
          color: $steel-blue;
        }
      }
    }
  }
}

@include respond-above(lg) {
  .header {


    &__logo {
      svg {
        width: 30px;
        height: 30px;
      }
    }

    &__menu {
      ul {
        li {
          font-size: 15px;
          margin-right: 13px;
        }
      }
    }

    &__profile {
      width: 30px;
      height: 30px;
      padding: 8px;
    }

    &__login {
      a {
        font-size: 15px;
      }
    }
  }
}

@include respond-above(mac) {
  .header {


    &__logo {
      svg {
        width: 36px;
        height: 36px;
      }
    }

    &__menu {
      ul {
        li {
          font-size: 18px;
          margin-right: 15px;
        }
      }
    }

    &__profile {
      width: 36px;
      height: 36px;
      padding: 9px;
    }

    &__login {
      a {
        font-size: 18px;
      }
    }
  }
}

@include respond-above(xlg) {
  .header {


    &__logo {
      svg {
        width: 40px;
        height: 40px;
      }
    }

    &__menu {
      ul {
        li {
          font-size: 20px;
          margin-right: 17px;
        }
      }
    }

    &__profile {
      width: 40px;
      height: 40px;
      padding: 10px;
    }

    &__login {
      a {
        font-size: 20px;
      }
    }
  }
}

@include respond-above(fhd) {
  .header {


    &__logo {
      svg {
        width: 48px;
        height: 48px;
      }
    }

    &__menu {
      ul {
        li {
          font-size: 24px;
          margin-right: 20px;
        }
      }
    }

    &__profile {
      width: 48px;
      height: 48px;
      padding: 12px;
    }

    &__login {
      a {
        font-size: 24px;
      }
    }
  }
}

@include respond-above(fhd-plus) {
  .header {


    &__logo {
      svg {
        width: 50px;
        height: 50px;
      }
    }

    &__menu {
      ul {
        li {
          font-size: 25px;
          margin-right: 21px;
        }
      }
    }

    &__profile {
      width: 50px;
      height: 50px;
      padding: 13px;
    }

    &__login {
      a {
        font-size: 25px;
      }
    }
  }
}

@include respond-above(qhd) {
  .header {


    &__logo {
      svg {
        width: 56px;
        height: 56px;
      }
    }

    &__menu {
      ul {
        li {
          font-size: 28px;
          margin-right: 23px;
        }
      }
    }

    &__profile {
      width: 56px;
      height: 56px;
      padding: 14px;
    }

    &__login {
      a {
        font-size: 28px;
      }
    }
  }
}

@include respond-above(uhd) {
  .header {

    &__logo {
      svg {
        width: 85px;
        height: 85px;
      }
    }

    &__menu {
      ul {
        li {
          font-size: 42px;
          margin-right: 35px;
        }
      }
    }

    &__profile {
      width: 85px;
      height: 85px;
      padding: 21px;
    }

    &__login {
      a {
        font-size: 42px;
      }
    }
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  button {
    background-color: $primary-button;
    color: $White;
    padding: 6px 12px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;

    &:hover {
      background-color: darken($primary-button, 10%);
    }
  }
}
