@import "../../styles/varibles";
@import "../../styles/mixins/";

.save__button {
    background-color: $primary;
    color: $White;
    padding: 10px;
    border-radius: 10px;
    font-size: 16px;
}

.delete__button{
    font-size: 16px;
    background-color: $danger;
    color: $White;
    padding: 10px;
    border-radius: 10px;
}