@import "../../styles/varibles";
@import "../../styles/mixins/";

.group {
  margin-bottom: 12px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;

  &__container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }

  &__cards {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }

  &__wrapper {
    flex: 1 2 calc(43.333% - 20px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background: white;
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(219, 219, 219, 0.5);
    text-align: center;
    transition: transform 0.3s ease-in-out;
    padding: 10px;
    padding-bottom: 25px;
    height: 220px;
    &:nth-child(1) {
      height: 170px;
    }
    &:nth-child(2) {
      height: 170px;
    }
    &:last-child {
      max-width: 300px;
    }
    &_grow1 {
      flex: 1 1 100%;
      width: 100%;
      height: 220px;
      img {
        width: 100px !important;
      }

      p {
        width: 50%;
      }
    }

    &_grow2 {
      flex: 1 1 calc(50% - 20px);
      height: 220px;
      img {
        width: 100px !important;
      }

      p {
        width: 80%;
      }
    }

    &:hover {
      transform: translateY(-2px);
    }

    img {
      width: 50px;
      margin-bottom: 15px;
    }

    &__title {
      width: 100%;
      height: auto;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      margin-bottom: 10px;

      h3 {
        font-weight: bold;
        font-size: 14px;
        line-height: 100%;
        color: $black;
      }
    }

    &__description {
      width: 100%;
      height: auto;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;

      p {
        font-size: 8px;
        line-height: 140%;
        color: $placeholder;
      }
    }
  }
}

@include respond-above(xs) {
  .group {
    margin-bottom: 14px;

    &__cards {
      gap: 24px;
    }

    &__wrapper {
      flex: 1 1 calc(33.333% - 24px);
      height: max-content;
      border-radius: 6px;
      padding: 18px;
      &:nth-child(1) {
        height: initial;
      }
      &:nth-child(2) {
        height: initial;
      }
      &:last-child {
        max-width: fit-content;
      }
      &_grow1 {
        img {
          width: 120px !important;
        }
      }

      &_grow2 {
        flex: 1 1 calc(50% - 24px);

        img {
          width: 120px !important;
        }
      }

      img {
        width: 60px;
        margin-bottom: 18px;
      }

      &__title {
        margin-bottom: 12px;

        h3 {
          font-size: 17px;
        }
      }

      &__description {
        p {
          font-size: 10px;
        }
      }
    }
  }
}

@include respond-above(sm) {
  .group {
    margin-bottom: 18px;

    &__cards {
      gap: 30px;
    }

    &__wrapper {
      flex: 1 1 calc(33.333% - 30px);
      height: max-content;
      border-radius: 7px;
      padding: 22px;
      height: 220px;
      &:nth-child(1) {
        height: 220px;
      }
      &:nth-child(2) {
        height: 220px;
      }
      &:nth-child(4) {
        height: 300px;
      }
      &:nth-child(5) {
        height: 300px;
      }
      &_grow1 {
        height: 220px;
        img {
          width: 150px !important;
        }
      }

      &_grow2 {
        height: 220px;
        flex: 1 1 calc(50% - 30px);

        img {
          width: 150px !important;
        }
      }

      &:hover {
        transform: translateY(-3px);
      }

      img {
        width: 75px;
        margin-bottom: 22px;
      }

      &__title {
        margin-bottom: 15px;

        h3 {
          font-size: 21px;
        }
      }

      &__description {
        p {
          font-size: 10px;
        }
      }
    }
  }
}

@include respond-above(xlg) {
  .group {
    margin-bottom: 20px;

    &__cards {
      gap: 34px;
    }

    &__wrapper {
      flex: 1 1 calc(33.333% - 34px);
      height: 255px;
      border-radius: 8px;
      padding: 25px;
      &:nth-child(1) {
        height: auto;
      }
      &:nth-child(2) {
        height: auto;
      }
      &:nth-child(4) {
        height: auto;
      }
      &:nth-child(5) {
        height: auto;
      }
      &_grow1 {
        height: 340px;

        img {
          width: 170px !important;
        }
      }

      &_grow2 {
        flex: 1 1 calc(50% - 34px);
        height: 340px;

        img {
          width: 170px !important;
        }
      }

      &:hover {
        transform: translateY(-4px);
      }

      img {
        width: 85px;
        margin-bottom: 25px;
      }

      &__title {
        margin-bottom: 17px;

        h3 {
          font-size: 24px;
        }
      }

      &__description {
        p {
          font-size: 14px;
        }
      }
    }
  }
}

@include respond-above(fhd) {
  .group {
    margin-bottom: 24px;

    &__cards {
      gap: 40px;
    }

    &__wrapper {
      flex: 1 1 calc(33.333% - 40px);
      height: 300px;
      border-radius: 10px;
      padding: 30px;

      &_grow1 {
        height: 400px;

        img {
          width: 200px !important;
        }

        p {
          width: 50%;
        }
      }

      &_grow2 {
        flex: 1 1 calc(50% - 40px);
        height: 400px;

        img {
          width: 200px !important;
        }

        p {
          width: 80%;
        }
      }

      &:hover {
        transform: translateY(-5px);
      }

      img {
        width: 100px;
        margin-bottom: 30px;
      }

      &__title {
        margin-bottom: 20px;

        h3 {
          font-size: 28px;
        }
      }

      &__description {
        p {
          font-size: 16px;
        }
      }
    }
  }
}

@include respond-above(fhd-plus) {
  .group {
    margin-bottom: 30px;

    &__cards {
      gap: 50px;
    }

    &__wrapper {
      flex: 1 1 calc(33.333% - 50px);
      height: 375px;
      border-radius: 12px;
      padding: 37px;

      &_grow1 {
        height: 500px;

        img {
          width: 250px !important;
        }
      }

      &_grow2 {
        flex: 1 1 calc(50% - 50px);
        height: 500px;

        img {
          width: 250px !important;
        }
      }

      &:hover {
        transform: translateY(-6px);
      }

      img {
        width: 125px;
        margin-bottom: 37px;
      }

      &__title {
        margin-bottom: 25px;

        h3 {
          font-size: 35px;
        }
      }

      &__description {
        p {
          font-size: 20px;
        }
      }
    }
  }
}

@include respond-above(qhd) {
  .group {
    margin-bottom: 33px;

    &__cards {
      gap: 55px;
    }

    &__wrapper {
      flex: 1 1 calc(33.333% - 55px);
      height: 415px;
      border-radius: 13px;
      padding: 41px;

      &_grow1 {
        height: 553px;

        img {
          width: 277px !important;
        }

        p {
          width: 50%;
        }
      }

      &_grow2 {
        flex: 1 1 calc(50% - 55px);
        height: 553px;

        img {
          width: 277px !important;
        }

        p {
          width: 70%;
        }
      }

      &:hover {
        transform: translateY(-7px);
      }

      img {
        width: 138px;
        margin-bottom: 41px;
      }

      &__title {
        margin-bottom: 27px;

        h3 {
          font-size: 39px;
        }
      }

      &__description {
        p {
          width: 70%;
          font-size: 22px;
        }
      }
    }
  }
}

@include respond-above(uhd) {
  .group {
    margin-bottom: 44px;

    &__cards {
      gap: 75px;
    }

    &__wrapper {
      flex: 1 1 calc(33.333% - 75px);
      height: 565px;
      border-radius: 18px;
      padding: 56px;

      &_grow1 {
        height: 753px;

        img {
          width: 377px !important;
        }

        p {
          width: 50%;
        }
      }

      &_grow2 {
        flex: 1 1 calc(50% - 75px);
        height: 753px;

        img {
          width: 377px !important;
        }

        p {
          width: 100%;
        }
      }

      &:hover {
        transform: translateY(-10px);
      }

      img {
        width: 188px;
        margin-bottom: 56px;
      }

      &__title {
        margin-bottom: 37px;

        h3 {
          font-size: 53px;
        }
      }

      &__description {
        p {
          width: 90%;
          font-size: 30px;
        }
      }
    }
  }
}
