@import "../../styles/varibles";
@import "../../styles/mixins/";

.table {
  display: flex;
  flex-direction: column;

  &__header {
    font-size: 16px;
    font-weight: 600;
  }

  &__row {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    border-bottom: 1px solid $white-ligth;
    padding: 20px 20px;
    align-items: center;
  }
  &__row:first-child {
    padding-top: 0px;
    background: $primary;
    color: $White;
    padding-bottom: 15px;
    padding-top: 15px;
  }

  &__cell:first-child {
    margin-left: 0px;
  }
  &__cell:last-child {
    margin-right: 0px;
  }

  &__cell {
    text-align: left;
    font-size: 14px;
    display: block;
    text-overflow: ellipsis;

    white-space: nowrap;
    margin-left: 10px;
    margin-right: 10px;
    min-width: 0;
    flex-shrink: 1;

    &--link {
      text-decoration: underline;
      text-decoration-color: $primary;
      color: $primary;

      a,
      button {
        background: none;
        border: none;
        font: inherit;
        color: inherit;
        cursor: pointer;
        text-decoration: inherit;

        &:hover {
          text-decoration: none;
        }
      }
    }
  }

  &__empty {
    width: 100%;
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 40px;
    line-height: 100%;
    color: $black;
  }
}
