@import "../../styles/varibles";
@import "../../styles/mixins/";

.table {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  overflow-x: auto;

  &__header {
    display: none;
    font-size: 16px;
    font-weight: 600;
    background: $primary;
    color: $White;
    padding: 15px 20px;
    position: sticky;
    top: 0;
    z-index: 1;
  }

  &__row {
    display: grid;
    grid-template-columns: minmax(100px, 50%) 1fr;
    row-gap: 10px;
    border: 1px solid $white-ligth;
    border-radius: 8px;
    margin-bottom: 12px;
    padding: 12px 15px;
    min-width: 0;
    max-width: 100vw;
    overflow-x: auto;
    gap: 10px;
    &:first-child {
      display: none;
    }
  }

  &__cell {
    font-size: 14px;
    border-bottom: 1px solid #dcdcdc;
    width: auto !important;
    min-width: 0;
    padding-bottom: 20px;
    max-width: 100%;
    overflow: auto;
    white-space: nowrap;

    &:nth-child(odd) {
      font-weight: 600;
      color: $black;
    }

    &:nth-child(even) {
      text-align: left;
    }

    &--link {
      text-decoration: underline;
      text-decoration-color: $primary;
      color: $primary;
      border: none;
      a,
      button {
        background: none;
        border: none;
        font: inherit;
        color: inherit;
        cursor: pointer;
        text-decoration: inherit;

        &:hover {
          text-decoration: none;
        }
      }
    }

    &::before {
      content: attr(data-label);
      font-weight: 600;
      display: block;
      padding-bottom: 10px;
    }
  }

  &__empty {
    width: 100%;
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 40px;
    color: $black;
  }

  @include respond-above(sm) {
    &__header {
      display: flex;
      height: auto;
      padding: 0;
    }

    &__row {
      display: flex;
      align-items: center;
      justify-content: space-between;
      border: none;
      border-bottom: 1px solid $white-ligth;
      border-radius: 0;
      margin-bottom: 0;
      padding: 15px 20px;

      &:first-child {
        background: $primary;
        color: $White;
        position: sticky;
        top: 0;
        display: flex;
        border: none;
      }
    }

    &__cell {
      flex: 1;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      border: none;
      padding: 0 10px;
      min-width: 100px !important;
      &:nth-child(odd),
      &:nth-child(even) {
        font-weight: normal;
        color: inherit;
        text-align: left;
      }

      &::before {
        content: none;
      }
    }
  }
}

.table {
  // md: 0.68
  @include respond-above(md) {
    font-size: 9.5px;

    &__cell {
      font-size: 9.5px;
      padding: 0 7px;
    }

    &__row {
      padding: 10px 14px;
    }
  }

  // lg: 0.84
  @include respond-above(lg) {
    font-size: 11.8px;

    &__cell {
      font-size: 11.8px;
      padding: 0 8px;
    }

    &__row {
      padding: 12.6px 16.8px;
    }
  }

  // mac: 1
  @include respond-above(mac) {
    font-size: 14px;

    &__cell {
      font-size: 14px;
      padding: 0 10px;
    }

    &__row {
      padding: 15px 20px;
    }
  }

  // xlg: 1.11
  @include respond-above(xlg) {
    font-size: 15.5px;

    &__cell {
      font-size: 15.5px;
      padding: 0 11px;
    }

    &__row {
      padding: 16.7px 22.2px;
    }
  }

  // fhd: 1.3
  @include respond-above(fhd) {
    font-size: 28.2px;

    &__cell {
      font-size: 20.2px;
      padding: 0 13px;
    }

    &__row {
      padding: 19.5px 26px;
    }
  }

  // fhd-plus: 1.625
  @include respond-above(fhd-plus) {
    &__cell {
      font-size: 32.8px;
      padding: 0 16.3px;
    }

    &__row {
      padding: 24.4px 32.5px;
    }
  }

  // qhd: 1.77
  @include respond-above(qhd) {
    &__cell {
      font-size: 44.8px;
      padding: 0 17.7px;
    }

    &__row {
      padding: 26.5px 35.4px;
    }
  }
}
