@import "../../styles/varibles";
@import "../../styles/mixins/";

.table {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  overflow-x: auto;

  &__header {
    display: none;
    font-size: 16px;
    font-weight: 600;
    background: $primary;
    color: $White;
    padding: 15px 20px;
    position: sticky;
    top: 0;
    z-index: 1;
  }

  &__row {
    display: grid;
    grid-template-columns: minmax(120px, 40%) 1fr;
    row-gap: 10px;
    border: 1px solid $white-ligth;
    border-radius: 8px;
    margin-bottom: 12px;
    padding: 12px 15px;
    overflow-wrap: break-word;
    min-width: 0;
    max-width: 100vw;
    overflow-x: auto;
    gap: 10px;
    &:first-child {
      display: none;
    }
  }

  &__cell {
    font-size: 14px;
    border-bottom: 1px solid #dcdcdc;
    width: auto !important;

    &:nth-child(odd) {
      font-weight: 600;
      color: $black;
    }

    &:nth-child(even) {
      text-align: left;
    }

    &--link {
      text-decoration: underline;
      text-decoration-color: $primary;
      color: $primary;
      border: none;
      a,
      button {
        background: none;
        border: none;
        font: inherit;
        color: inherit;
        cursor: pointer;
        text-decoration: inherit;

        &:hover {
          text-decoration: none;
        }
      }
    }

    &::before {
      content: attr(data-label);
      font-weight: 600;
      display: block;
      margin-bottom: 4px;
    }
  }

  &__empty {
    width: 100%;
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 40px;
    color: $black;
  }

  @include respond-above(sm) {
    &__header {
      display: flex;
    }

    &__row {
      display: flex;
      align-items: center;
      justify-content: space-between;
      border: none;
      border-bottom: 1px solid $white-ligth;
      border-radius: 0;
      margin-bottom: 0;
      padding: 15px 20px;

      &:first-child {
        padding-top: 0px;
        background: $primary;
        color: $White;
        padding-bottom: 15px;
        padding-top: 15px;
        position: sticky;
        top: 0;
        display: flex;
        border: none;
      }
    }

    &__cell {
      flex: 1;
      padding: 0 10px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      border: none;
      &:nth-child(odd),
      &:nth-child(even) {
        font-weight: normal;
        color: inherit;
        text-align: left;
      }

      &::before {
        content: none;
      }
    }
  }
}
