@import "../../../styles/varibles.scss";
@import "../../../styles/mixins/";

.inputWrapper {
  display: flex;
  flex-direction: column;
  gap: 3px;
  width: fit-content;

  &:last-child {
    margin-bottom: 0;
  }

  &.fullWidth {
    width: 100%;
  }
}

.label {
  font-size: 12px;
  font-weight: 500;
  color: $black-dark;
}
.labelLeft {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.inputContainer {
  position: relative;
}

.shadow {
  box-shadow: 0 0 30px rgba(219, 219, 219, 1);
  border-radius: 10px;
}

.select {
  padding: 6px 8px;
  padding-right: 30px;
  border: 1px solid $white-ligth;
  border-radius: 6px;
  font-size: 12px;
  background-color: $White;
  transition: all 0.2s ease;
  outline: none;
  color: $black-dark;
  width: 100%;
  appearance: none;
  cursor: pointer;
  position: relative;

  &.withLeftIcon {
    padding-left: 21px;
  }

  &:focus {
    box-shadow: 0 0 0 2px rgba($primary, 0.1);
  }

  &.placeholder {
    color: $White-ligth;
  }

  option {
    color: $black-dark;
    background-color: $White;
    padding: 4px;
  }

  &:disabled {
    background-color: #f5f5f5;
    color: #999;
    cursor: not-allowed;
  }

  &.error {
    border-color: $danger;

    &:focus {
      box-shadow: 0 0 0 2px rgba($danger, 0.1);
    }
  }
}

.selectArrow {
  position: absolute;
  right: 10%;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  color: $White-ligth;
  display: flex;
  align-items: center;
  justify-content: center;
}

@include respond-above(xs) {
  .inputWrapper {
    gap: 3px;
  }

  .label {
    font-size: 12px;
  }

  .select {
    padding: 6px 9px;
    padding-right: 35px;
    font-size: 12px;

    &.withLeftIcon {
      padding-left: 30px;
    }
  }
}

@include respond-above(sm) {
  .inputWrapper {
    gap: 5px;
  }

  .label {
    font-size: 14px;
  }

  .select {
    padding: 9px 12px;
    padding-right: 40px;
    font-size: 14px;

    &.withLeftIcon {
      padding-left: 40px;
    }
  }

  .selectArrow {
    svg {
      width: 14px;
      height: 9px;
    }
  }
}

@include respond-above(xlg) {
  .inputWrapper {
    gap: 6px;
  }

  .label {
    font-size: 16px;
  }

  .select {
    padding: 10px 13px;
    padding-right: 45px;
    border-radius: 7px;
    font-size: 16px;

    &.withLeftIcon {
      padding-left: 44px;
    }
  }

  .selectArrow {
    svg {
      width: 16px;
      height: 10px;
    }
  }
}

@include respond-above(fhd) {
  .inputWrapper {
    gap: 7px;
  }

  .label {
    font-size: 18px;
  }

  .select {
    padding: 12px 16px;
    padding-right: 52px;
    border-radius: 8px;
    font-size: 18px;

    &.withLeftIcon {
      padding-left: 52px;
    }
  }

  .selectArrow {
    svg {
      width: 18px;
      height: 12px;
    }
  }
}

@include respond-above(fhd-plus) {
  .inputWrapper {
    gap: 8px;
  }

  .label {
    font-size: 23px;
  }

  .select {
    padding: 15px 19px;
    padding-right: 65px;
    border-radius: 10px;
    font-size: 23px;

    &.withLeftIcon {
      padding-left: 65px;
    }
  }

  .selectArrow {
    svg {
      width: 23px;
      height: 15px;
    }
  }
}

@include respond-above(qhd) {
  .inputWrapper {
    gap: 9px;
  }

  .label {
    font-size: 25px;
  }

  .select {
    padding: 16px 21px;
    padding-right: 71px;
    border-radius: 11px;
    font-size: 25px;

    &.withLeftIcon {
      padding-left: 71px;
    }
  }

  .selectArrow {
    svg {
      width: 25px;
      height: 16px;
    }
  }
}

@include respond-above(uhd) {
  .inputWrapper {
    gap: 12px;
  }

  .label {
    font-size: 33px;
  }

  .select {
    padding: 21px 29px;
    padding-right: 94px;
    border-radius: 14px;
    font-size: 33px;
    min-width: 280px;

    &.withLeftIcon {
      padding-left: 94px;
    }
  }

  .selectArrow {
    svg {
      width: 33px;
      height: 21px;
    }
  }
}
